.border-dashed {
    border-bottom: 2px dashed #dee2e6!important; 
}

.h-8 {
    height: 80vh!important;
}

.w-15 {
    max-width: 15%;
}

.container {
    max-width: 90%!important;
    margin: 0 auto!important;
}

li:not(.active):hover {
    cursor: pointer;
}

.list-width {
    width: 15rem;
}